Add Team Member:<input ng-model="name"type="text" name="name" value="">
<button ng-click="addTeamMember(name)"type="button" name="button">Save</button>

<div ng-repeat="member in team"class="team-member-wrapper">
  <button ng-click="deleteTeamMember(member.id)"type="button" name="button">x</button>{{member.name}}
  <input ng-model="fileName" type="text" name="name" value=""> <button ng-click="addFile(fileName)" type="button" name="button">Add File</button>
</div>
<!-- <button ng-click="getTeamNow()" type="button" name="button">get team</button> -->
